body {
    margin: 0 auto;   
}
h1 {
    font-size: 48px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    margin: 0 auto;
}
h2 {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555555;
    margin: 0 auto;
}
h3 {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555555;
    margin: 0 auto;
}
ul {
    list-style-type: none;    
}
li {
    padding: 5px;
    margin: 3px;
    background-color: #f4f4f4;
}
.mainTable {
    width: 100%;
    border: 1px solid #f4f4f4;
}
.pageTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: darkslategray;
    background-color: #f4f4f4;
    text-align: center;    
}  
.resizedTextbox {
    width: 400px; 
    height: 20px; 
    padding: 1px
}


