.task-list {   
    border: 1px solid #dddddd;
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    width: 83%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;    
}

.btn-delete {
    float: right;
}