.task-list {   
    border: 1px solid #f4f4f4;
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap;
    width: 83%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;    
}

.btn-delete {
    float: right;
}
.test {
    font-size: 18px;
    color: bisque;
    background-color: blue;
}
table {
    padding: 0px;
    margin: 0;
}
