.task-list {   
    border: 1px solid #f4f4f4;
    display: flex; 
    flex-direction: column; 
    width: 66%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

.btn-Delete {
    float: right;
}
